<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="app">
    <h1>Please register or login</h1>
    <a href="/user/register">Register</a>
    <a href="/user/login">Login</a>
    </div>
  </body>
</html>
